<div class="feed">
    <a href="/feed.xml" target="_blank">
        <button>SUBSCRIBE TO RSS FEED</button>
    </a>
</div>
<div class="copyright">&copy;2012 - {{ 'now' | date: "%Y" }} Lazery Reflections | All rights reserved.</div>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5TCRG76L6F"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'G-5TCRG76L6F');
</script>
