$content_background: #1e1e1e;
$header_background: #000000;
$header_text: #ffffff;
$footer_background: #000000;
$footer_grey: #333333;
$button_colour: #a10000;
$button_hover: #850000;
$text_red: #e22c2c;
$text_black: #000000;
$site_background: #282828;
$site_max_width: 1600px;
$site_min_width: 360px;
$one_column_max_width: 979px;
$two_column_max_width: 1369px;
$post_image_height: 28rem;
$post_excerpt_height: 32rem;
$small_title_max_width: 1000px;
$post_total_height: calc(#{$post_image_height} + #{$post_excerpt_height});
$quote_background: #333333;
$quote_border: #727272;
