@import 'constants';

#sponsors {
  margin: 0 auto;

  .sponsor {
    float: left;
    margin: 0.5rem 2rem;
    width: calc(33% - 2rem);
    aspect-ratio: 16/9;

    a {
      @media not all and (min-resolution: .001dpcm) {
        @supports (-webkit-appearance:none) and (display:flow-root) {
          div {
            min-height: 19rem;;
          }
        }
      }

      div {
        width: 100%;
        height: 100%;
        margin: 0;
        border: 0.2rem solid black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  @media (max-width: $small_title_max_width) {
    .sponsor {
      width: calc(50% - 4rem);
    }
  }

  @media (max-width: 649px) {
    .sponsor {
      width: calc(100% - 4rem);
    }
  }
}
